<div class="container">
  <h2 class="text-center my-3">Nouvelle technique :</h2>
  <form [formGroup]="techniqueForm">
    <div class="form-group">
      <label for="name">Nom de la nouvelle technique : </label>
      <input
        class="ms-2 rounded-2"
        type="text"
        id="name"
        formControlName="name"
      />
    </div>
    <div class="w-100">
      <button
        class="btn btn-outline-dark d-block"
        style="margin: 20px auto"
        type="submit"
        (click)="onSubmitTechniqueForm()"
        [disabled]="techniqueForm.invalid"
      >
        Enregistrer
      </button>
    </div>
  </form>
  <button
    class="btn btn-warning text-white"
    [routerLink]="['/protected/heroes/', heroId]"
  >
    Retour sur le héros
  </button>
</div>
