<ng-container *ngIf="heroDto">
  <div class="m-2">
    <div class="card" style="width: 18rem; height: auto">
      <img
        [src]="heroDto.myImg"
        class="card-img-top"
        style="height: 200px"
        [alt]="heroDto.name"
      />
      <div class="card-body">
        <h5 class="card-title text-center">{{ heroDto.name | uppercase }}</h5>
        <p class="card-text">
          {{ (heroDto.description | slice: 0:97) + " ... " }}
        </p>
      </div>
      <div class="card-body">
        <ng-container *ngIf="heroDto.abilities.length !== 0; else newAbility">
          <h4 class="list-group-item text-uppercase fw-bold text-success">
            Capacités :
          </h4>
          <h6 class="list-group-item text-uppercase fw-bold text-center">
            Nombre de capacités :
            <span class="text-warning">{{ numberOfAbilities }}</span>
          </h6>
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let abilities of heroDto.abilities | slice: 0:1"
            >
              {{ abilities.name + " ... " }}
            </li>
          </ul>
        </ng-container>
        <ng-template #newAbility>
          <button
            [routerLink]="['/create/ability', heroDto.id]"
            class="w-100 btn btn-success"
          >
            Nouvelle capacité :
          </button>
        </ng-template>
        <ng-container
          *ngIf="heroDto.techniques.length !== 0; else newTechnique"
        >
          <h4 class="list-group-item text-uppercase fw-bold text-info">
            Techniques :
          </h4>
          <h6 class="list-group-item text-uppercase fw-bold text-center">
            Nombre de techniques :
            <span class="text-warning">{{ numberOfTechniques }}</span>
          </h6>
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let techniques of heroDto.techniques | slice: 0:1"
            >
              {{ (techniques.name | slice: 0:20) + " ... " }}
            </li>
          </ul>
        </ng-container>
        <ng-template #newTechnique>
          <button
            [routerLink]="['/create/technique', heroDto.id]"
            class="w-100 btn btn-info text-white"
          >
            Nouvelle technique :
          </button>
        </ng-template>
      </div>

      <button
        class="btn btn-outline-secondary w-50 m-auto"
        routerLink="{{ heroDto.id }}"
      >
        Détails
      </button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!heroDto">
  <app-page-not-found></app-page-not-found>
</ng-container>
