<ng-container *ngIf="heroDto; then heroDtoTemplate; else loader">
</ng-container>

<ng-template #heroDtoTemplate let-heroDto>
  <div class="card mx-auto" style="width: 18rem; height: 600px">
    <img
      [src]="heroDto.myImg"
      class="card-img-top"
      style="height: 200px"
      [alt]="heroDto.name"
    />
    <div class="card-body">
      <h5 class="card-title">{{ heroDto.name }}</h5>
      <p class="card-text">{{ heroDto.description }}</p>
    </div>
    <div class="card-body">
      <h4 class="list-group-item text-uppercase fw-bold">Capacités :</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let abilities of heroDto.abilities">
          {{ abilities.name }}
        </li>
      </ul>
      <h4 class="list-group-item text-uppercase fw-bold">Techniques :</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let techniques of heroDto.techniques"
        >
          {{ techniques.name }}
        </li>
      </ul>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Nouvelles capacités :</a>
      <a href="#" class="card-link">Nouvelles techniques :</a>
      <button (click)="onReturn()">Retour</button>
    </div>
  </div>
</ng-template>
<ng-template #loader>
  <p>Nop, pas de héros</p>
</ng-template>
